In [1]:
int('112')

112

In [4]:
print("Hello World")

Hello World

In [5]:
print(123)

123

In [6]:
age = 20
print("My Age is",age)

My Age is 20

In [7]:
print("My age is {age}")

My age is {age}

In [8]:
# f string
print(f"My age is {age}")

My age is 20

In [9]:
## format() 
name="Arnav"
age="20"
print("My name is {} and my age is {}".format(name,age))

My name is Arnav and my age is 20

In [10]:
# PlaceHolder
print("My name is {x} and my age is {y}".format(x=name,y=age))

My name is Arnav and my age is 20

In [11]:
name = "Arnav"
age = 20
degree = "B.Tech"

print("My age is {} and I have completed my degree of {} with the name of {}".format(age,degree,name))

My age is 20 and I have completed my degree of B.Tech with the name of Arnav

In [12]:
print("My age is {x} and I have completed my degree of {y} with the name of {z}".format(x=age,y=degree,z=name))

My age is 20 and I have completed my degree of B.Tech with the name of Arnav

In [13]:
print(f"My age is {age} and I have completed my degree of {degree} with the name of {name}")

My age is 20 and I have completed my degree of B.Tech with the name of Arnav

## Control Flow

## Decision Making Statements 
* if
* if else
* if elif else
* Nested if
* Single Statement Suites

In [16]:
## if statement
age = 20
if age >= 18:
    print("Allowed to Vote")

Allowed to Vote

In [17]:
input()

 Arnav Lakha

'Arnav Lakha'

In [18]:
input("Enter Age")

Enter Age 20

'20'

In [29]:
## TAsk 1
# Take input of Age
# Check whether age>=18 and age <=45
# Display "You are Young"

age = int(input("Enter Age"))
if age>=18 and age<=45:
    print("You are Young")

Enter Age 20

You are Young

In [33]:
## if else statement
age = int(input("Enter Age"))
if age>=18 and age<=45:
    print("You are Young")
else:
    print("Not Interested")

Enter Age 15

Not Interested

In [40]:
# product > 1000, 20% off
# product <=1000, 30% off

mrp = int(input("Price is"))
if mrp>1000:
    print("Eligible for 20%, new price is {x}".format(x=mrp*0.8))
elif mrp<=1000:
    print("Eligible for 30%,new price is {y}".format(y=mrp*0.7))

Price is 500

Eligible for 30%,new price is 350.0

In [42]:
# product > 1000, 20% off
# product <=1000, 30% off

mrp = int(input("Price is"))
if mrp>1000:
    print(f"Eligible for 20%, new price is {mrp*0.8}")
elif mrp<=1000:
    print(f"Eligible for 30%,new price is {mrp*0.7}")

Price is 500

Eligible for 30%,new price is 350.0

In [1]:
# mall
# product > 3000 , 20% off
# print product price after discount
# product >= 2000 and <= 3000, 30% off
# product >= 1000 and <=2000, 40% off
## price = 2999, u will get  an additional gift
## price = 4000, trip to goa

In [5]:
mrp = int(input("Price is: "))
if mrp>3000:
    if mrp==4000:
        print("Congo! You have won a trip to Goa")
    print(f"Eligible for 20%, new price is {mrp*0.8}")
elif mrp>=2000 and mrp<=3000:
    if mrp==2999:
        print("Congratulations, u will get an additional gift")
    print(f"Eligible for 30%, new price is {mrp*0.7}")
elif mrp>=1000 and mrp<=2000:
    print(f"Eligible for 40%,new price is {mrp*0.6}")
elif mrp<1000:
    print(f"No Discount Available,price is {mrp}")

Price is:  4000

Congo! You have won a trip to Goa
Eligible for 20%, new price is 3200.0

In [46]:
 # Single Statement Suites

val=int(input("Enter a Number: "))
if val<=999: print("Value is less than Thousand")

Enter a Number:  555

Value is less than Thousand

# Loops
1. While Loop
2. For Loop
3. Nested Loops
4. Loop Control(Break,continue,Pass)

In [11]:
# While Loop
age=20
while age<=40:
    print(age)
    age = age+1
else:
    print("You're Not Young")

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
You're Not Young

In [12]:
# While Loop to print Even Numbers less than 48

num=0
while num<48:
    print(num)
    num=num+2
else:
    print("The above are Even Numbers less than 48")

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
The above are Even Numbers less than 48

In [13]:
## ATM Machine with 1000 Rupees
amt=1000
while amt!=0:
    print(amt)
    amt=amt-100
else:
    print("ATM EMPTY")

1000
900
800
700
600
500
400
300
200
100
ATM EMPTY

# For Loop

In [16]:
lst=['Arnav',112,106,115,126,193,'gym']

In [17]:
type(lst)

list

In [20]:
lst[0]

'Arnav'

In [21]:
for x in lst:
    print(x)

Arnav
112
106
115
126
193
gym

In [2]:
lst=['Arnav',112,67]

In [8]:
for x in lst:
    print(x)
    if x== 112:
        print("Roll No")
        break

Arnav
112
Roll No

In [10]:
name="Arnav"
for x in name:
    print(x)

A
r
n
a
v

In [14]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [15]:
for i in range(1,6,2):
    print(i)

1
3
5

In [27]:
### Nested Loops
n=6

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******

In [32]:
n=3

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***

In [33]:
## Break and Continue

student=['Arnav',112,'BTech','CSE']

In [42]:
# Break

for n in student:
    if n=='BTech':
        print("Degree")
        break
    print(n)

Arnav
112
Degree

In [43]:
# Pass

for n in student:
    if n=='BTech':
        print("Degree")
        pass
    print(n)

Arnav
112
Degree
BTech
CSE

In [44]:
# Continue

for i in student:
    if i=='BTech':
        print("Degree")
        continue
    print(i)

Arnav
112
Degree
CSE

In [3]:
n=4

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****